* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

button.btn-icon-mini {
    display: inline-block;
    padding: 4px 8px;
    font-size: 15px;
    border-radius: 50%;
    border-width: 0;
    background: rgba(0,0,0,.025);
    color: #333;
    cursor: pointer;
}

button:focus {
    outline: none;
}

button.btn-icon-mini.toggled {
    box-shadow: inset 1px 1px 2px #ccc;
    background-color: #ddd;
}

input, 
select {
    padding: 5px 10px;
    border: 1px solid #ccc;
}

.backdrop {
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: fixed;
}

@keyframes rotating {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.overlay {
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: fixed;
}

.overlay > .fa {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 96px;
    color: rgba(255, 255, 255, 0.9);
    animation: rotating 2s linear infinite;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 800px;
    background: white;
    border: 1px solid #666;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
}

.modal header,
.modal .fields,
.modal footer {
    padding: 10px;
}

.modal header {
    font-weight: bold;
}

.modal .fields {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-row-gap: 10px;
}

.modal .fields input {
    width: 100%;
}

.modal .precense-edit {
    display: flex;
    margin-bottom: 10px;
}

.modal .precense-edit input {
    margin-left: 5px;
}

.modal footer {
    text-align: right;
}

body {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    background: #fcfafa;
    color: #333;
}

.app {
    display: grid;
    grid-template-rows: auto 1fr;
    width: 100vw;
    height: 100vh;
}

header {
    display: flex;
    align-items: stretch;
}

header h1 {
    flex: 1;
    margin: 20px 10px;
}

header h1 img {
    height: 24px;
}

header .controls {
    padding: 10px;
}

.grid {
    grid-gap: 20px;
    padding: 10px;
}

.emp {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 10px solid white;
    box-shadow: -2px -2px 8px #eee, 
                 8px  8px 16px #eee;
    background-color: #fff;
    padding: 10px;
}

.emp-header h3 {
    margin: 0;
}

.emp-mailto {
    float: right;
}

.emp-tagline {
    margin: 5px 0 10px 0;
    font-style: italic;
}

.emp-presence {
    display: inline-block;
    font-size: 32px;
    margin-right: 2px;
}

.emp-mailto a,
.emp-presence a {
    text-decoration: none;
    color: #5b7986;
}
