* {
    box-sizing: border-box;
}

body {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    background: #fcfafa;
    color: #333;
}

header {
    text-align: center;
}

.grid {
    display: grid;
    grid-gap: 20px;
    padding: 10px;
}

.emp {
    border: 10px solid white;
    box-shadow: -2px -2px 8px #eee, 
                 8px  8px 16px #eee;
    background-color: #fff;
    padding: 10px;
}

.emp-header {
    margin: 0;
}

.emp-mailto {
    float: right;
}

.emp-mailto a {
    text-decoration: none;
}

.emp-tagline {
    margin: 5px 0 10px 0;
    font-style: italic;
}

.emp-presence {
    display: inline-block;
}
